

<link  type="text/css" href="/static/bootstrap-2.3.2/bootstrap.min.css" rel="stylesheet">
<link  type="text/css" href="/static/bootstrap-2.3.2/bootstrap-responsive.min.css" rel="stylesheet">

<div style="margin:0 auto;text-align:center;padding-top:20px;">
<strong>{{ rs }}</strong><br>
<strong>{{ rs2 }}</strong>

</div>

<div style="margin:0 auto;text-align:center;padding-top:20px;">
    <a href="http://yourdomain/tables/ri/showtable/" class="btn btn-primary btn-lg active" role="button">back to the Ri package</a>
<!--We have multi accounts.voga is one of it -->
</div>
